@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">

                <div class="col-sm-6 b-r">
                    <#input id="id" name="id" disabled="disabled" value="${item.id}" underline="true"/>
                    <#avatar id="avatar" name="头像" avatarImg="${item.avatar}" underline="true"/>
                    <!--<div class="progress progress-striped" id="progressTipArea" style="margin-top: 20px;">-->
                        <!--<div id="progressBar" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-info">-->
                        <!--</div>-->
                    <!--</div>-->
                    <#input id="account" disabled="disabled"  name="账号" value="${item.account}" underline="true"/>
                    <!--<#input id="password" name="密码" value="${item.password}" underline="true"/>-->
                    <!--<#input id="salt" name="md5密码盐" value="${item.salt}" underline="true"/>-->
                    <#input id="name" name="名字" value="${item.name}" underline="true"/>
                    <#input id="birthday" name="生日" value="${item.birthday}" underline="true"/>
                    <#select id="sex" name="性别" underline="true" value="${item.sex}">
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </#select>

                    <#input id="citySel" name="部门" underline="true" readonly="readonly" hidden="deptid" hiddenValue="${item.deptid}" value="${deptName}"
                            clickFun="NormalUserInfoDlg.showDeptSelectTree(); return false;"
                            style="background-color: #ffffff !important;"/>
                    <!--<#input id="roleid" name="角色id" value="${item.roleid}" underline="true"/>-->
                    <!--<#input id="deptid" name="部门id" value="${item.deptid}" />-->
                    <#select id="status" name="状态" underline="true" value="${item.status}">
                        <option value="1">启用</option>
                        <option value="2">冻结</option>
                    </#select>

                    <#input id="phone" name="电话" value="${item.phone}" underline="true"/>
                </div>

                <div class="col-sm-6">
                            <!--<#input id="createtime" name="创建时间" value="${item.createtime}" underline="true"/>-->
                            <!--<#input id="version" name="保留字段" value="${item.version}" underline="true"/>-->
                    <#input id="deptstr" name="职位" value="${item.deptstr}" underline="true"/>
                    <#input id="idcard" name="身份证" value="${item.idcard}" underline="true"/>

                    <#dictSelector id="married" name ="married" code="user_married"  label="是否已婚"  underline="true"  value="${item.married}" />
                    <#dictSelector id="edu" name ="edu" code="user_edu"  label="学历"  underline="true"  value="${item.edu}" />
                    <#input id="email" name="电子邮件" value="${item.email}" underline="true"/>
                    <!--<#select id="edu" name="学历" underline="true"  value="${item.edu}">-->
                        <!--<option value="1">小学</option>-->
                        <!--<option value="2">初中</option>-->
                        <!--<option value="3">高中</option>-->
                        <!--<option value="4">专科、本科</option>-->
                        <!--<option value="5">硕士</option>-->
                        <!--<option value="6">博士</option>-->
                        <!--<option value="7">博士后</option>-->
                    <!--</#select>-->
                    <#input id="address" name="家庭住址" value="${item.address}" underline="true"/>
                    <#input id="believetime" name="信主时间" value="${item.believetime}" underline="true"/>
                    <#input id="baptizedtime" name="受洗时间" value="${item.baptizedtime}" underline="true"/>
                    <#input id="family" name="家庭成员" value="${item.family}" underline="true"/>

                </div>
            </div>
            <!-- 这是部门选择的下拉框 -->
            <div id="menuContent" class="menuContent"
                 style="display: none; position: absolute; z-index: 200;">
                <ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
            </div>



            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="NormalUserInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="NormalUserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/user/normalUser/normalUser_info.js"></script>
<script>
    laydate.render({
        elem: '#birthday'
    });
    laydate.render({
        elem: '#baptizedtime'
    });
    laydate.render({
        elem: '#believetime'
    });
</script>
@}
