@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="account" name="账号" underline="true"/>
                    <#input id="password" name="密码" underline="true" type="password"/>
                    <#input id="name" name="名字" underline="true"/>
                    <#input id="birthday" name="生日" underline="true"/>
                    <#select id="sex" name="性别" underline="true">
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </#select>
                    <#input id="email" name="电子邮件" underline="true"/>
                    <#input id="citySel" name="部门" underline="true" readonly="readonly" hidden="deptid" hiddenValue="" value=""
                            clickFun="NormalUserInfoDlg.showDeptSelectTree(); return false;"
                            style="background-color: #ffffff !important;"/>
                    <#input id="phone" name="电话" underline="true"/>
                    <#select id="status" name="状态" underline="true">
                        <option value="1">启用</option>
                        <option value="2">冻结</option>
                    </#select>
                </div>

                <div class="col-sm-6">
                    <#input id="deptstr" name="职位" underline="true"/>
                    <#input id="idcard" name="身份证" underline="true"/>
                    <#select id="married" name="是否已婚" underline="true">
                        <option value="1">未婚</option>
                        <option value="2">已婚</option>
                    </#select>
                    <#select id="edu" name="学历" underline="true">
                        <option value="1">小学</option>
                        <option value="2">初中</option>
                        <option value="3">高中</option>
                        <option value="4">专科、本科</option>
                        <option value="5">硕士</option>
                        <option value="6">博士</option>
                        <option value="7">博士后</option>
                    </#select>
                    <#input id="address" name="家庭住址" underline="true"/>
                    <#input id="believetime" name="信主时间" underline="true"/>
                    <#input id="baptizedtime" name="受洗时间" underline="true"/>
                    <#input id="family" name="家庭成员" underline="true"/>

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="NormalUserInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="NormalUserInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/user/normalUser/normalUser_info.js"></script>
<script>
    laydate.render({
        elem: '#birthday,#baptizedtime,#believetime'
    });
</script>
@}
