@layout("/common/_container.html"){
<style>
    .studentName{
        list-style: none;
        display: flex;
        height: 24px;
        line-height: 24px;
        justify-content: space-between;
    }
    .studentName:hover{
        background-color: #f0f0f0;
    }

    .delBtn:active{
        background-color: black;
        border: 1px solid white;
        color: #fff;
        border-radius: 3px;
    }

    .delBtn{
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        line-height: 18px;
        margin: 2px 0px 2px 0px;
        cursor:pointer;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>选择选课学生</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-2 col-sm-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">组织机构</div>
                                    <div class="panel-body dept-tree">
                                        <ul id="deptTree" class="ztree"></ul>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">已选学生</div>
                                    <div id="selectStudentList" class="panel-body dept-tree">
                                        <ul style="padding-left: 10px">
                                            @for(item in lessonStudentList){
                                            <li class="studentName" >${item.username}<button class="delBtn" onclick="NormalUser.delStudent(${item.userid},'${item.username}')" >删除</button></li>
                                            @}
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10 col-sm-9">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <#NameCon id="s_name" name="名称" />
                                    </div>
                                    <div class="col-sm-3">
                                        <#button name="搜索" icon="fa-search" clickFun="NormalUser.search()"/>
                                    </div>
                                </div>
                                <div class="hidden-xs" id="NormalUserTableToolbar" role="group">
                                    @if(shiro.hasPermission("/lessonInfo/addUserToLesson")){
                                    <#button name="添加到该课程" icon="fa-plus" clickFun="NormalUser.addToLesson()"/>
                                    @}
                                </div>
                                <#table id="NormalUserTable"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/user/normalUser/normalUserSelect.js"></script>
<script>
    var lessonId = "${lessonId}";
</script>
@}