@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="用户id" value="${item.id}" underline="true"/>
                    <!--<#input id="avatar" name="头像" value="${item.avatar}" underline="true"/>-->
                    <#input id="account" name="账号" value="${item.account}" underline="true"/>
                    <!--<#input id="password" name="密码" value="${item.password}" underline="true"/>-->
                    <!--<#input id="salt" name="md5密码盐" value="${item.salt}" underline="true"/>-->
                    <#input id="name" name="名字" value="${item.name}" underline="true"/>
                    <#input id="birthday" name="生日" value="${item.birthday}" underline="true"/>
                    <#input id="sexName" name="性别" value="${sexName}" underline="true"/>
                    <#input id="email" name="电子邮件" value="${item.email}" underline="true"/>
                    <#input id="phone" name="电话" value="${item.phone}" underline="true"/>
                    <!--<#input id="roleid" name="角色id" value="${item.roleid}" underline="true"/>-->
                    <#input id="deptid" name="部门" value="${deptName}"  underline="true"/>
                    <#input id="family" name="家庭成员" value="${item.family}"  underline="true"/>
                </div>
                <div class="col-sm-6">
                    <#input id="deptstr" name="状态" value="${statusName}" underline="true"/>
                    <#input id="deptstr" name="职位" value="${item.deptstr}" underline="true"/>
                    <#input id="deptstr" name="是否已婚" value="${marriedName}" underline="true"/>
                    <!--<#input id="idcard" name="身份证" value="${item.idcard}" underline="true"/>-->
                    <#input id="eduName" name="学历" value="${eduName}" underline="true"/>
                    <#input id="address" name="家庭住址" value="${item.address}" underline="true"/>
                    <#input id="believetime" name="信主时间" value="${item.believetime}" underline="true"/>
                    <#input id="baptizedtime" name="受洗时间" value="${item.baptizedtime}" underline="true"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/user/normalUser/normalUser_info.js"></script>
@}
