@layout("/common/_container.html"){
<style>
    .days_input{
        width:30px;
        /*border-radius: 3px;*/
        border:1px solid #e0e0e0;
        text-align: center;
    }
    /*修改出席天数按钮css*/
    .btn-plus,.btn-minus{
        width: 25%;
        display: inline-block;
        font-weight: bold;
        margin: 2px;
        border-radius: 3px;
        cursor: pointer;
    }

    .btn-plus:hover,.btn-minus:hover{
       background-color: #e0e0e0;
    }

    .changeDiv{
        border:1px solid #e0e0e0 !important;
        border-radius: 3px;
        width: 80px;
    }
</style>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="课程编号" readonly="readonly" value="${item.id}" underline="true"/>
                            <#input id="lessonName" name="课程名称" value="${item.lessonName}" underline="true"/>
                            <#input id="lessonBeginTime" name="开课时间" value="${item.lessonBeginTime}" underline="true"/>
                            <#input id="lessonPeriod" name="课时" value="${item.lessonPeriod}" />
                </div>

                <div class="col-sm-6">
                            <#input id="lessonClass" name="教室" value="${item.lessonClass}" underline="true"/>
                            <#input id="teacherInfo" name="老师信息" value="${item.teacherInfo}" underline="true"/>

                    @for(lesson in lessonList){
                    @if(lesson.id == item.preLessonId){
                    <#input id="preLesson" name="前置课程" value="${lesson.lessonName}" underline="true" />
                    @}else{
                    <!--<option value="${lesson.id}" >${lesson.lessonName}</option>-->
                    @}
                    @}
                </div>
            </div>

            <!--<div class="row btn-group-m-t">-->
                <!--<div class="col-sm-10">-->
                    <!--<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="LessonInfoInfoDlg.editSubmit()"/>-->
                    <!--<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LessonInfoInfoDlg.close()"/>-->
                <!--</div>-->

                <div class="panel panel-default">
                    <div class="panel-heading">选课学生列表</div>
                    <div class="hidden-xs" id="selectStudentListToolbar" role="group" >
                        <#button name="导出选课列表" icon="fa-plus" clickFun="exportLessonDetail()"/>
                    </div>
                    <div style="margin: 10px;">
                        <#table id="selectStudentList" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var lessonId = "${lessonId}";
    var lesson_period = "${lesson_period}";
</script>
<script src="${ctxPath}/static/modular/user/lessonInfo/lessonInfo_detail.js"></script>
<script>
//    laydate.render({
//        elem: '#lessonBeginTime'
//    });
</script>
@}
