@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <!--<#input id="id" name="" underline="true"/>-->
                            <#input id="lessonName" name="课程名称" underline="true"/>
                            <#input id="lessonBeginTime" name="开课时间" underline="true"/>
                            <#input id="lessonPeriod" name="课时"/>
                </div>

                <div class="col-sm-6">
                            <#input id="lessonClass" name="教室" underline="true"/>
                            <#input id="teacherInfo" name="老师信息" underline="true"/>
                            <#select id="preLessonId" name="前置课程" underline="true">
                                @for(item in lessonList){
                                   <option value="${item.id}">${item.lessonName}</option>
                                @}
                            </#select>
                            <!--<#input id="preLessonId" name="前置课程" underline="true"/>-->
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="LessonInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LessonInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/user/lessonInfo/lessonInfo_info.js"></script>
<script>
    laydate.render({
        elem: '#lessonBeginTime'
    });
</script>
@}
