@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="课程编号" readonly="readonly" value="${item.id}" underline="true"/>
                            <#input id="lessonName" name="课程名称" value="${item.lessonName}" underline="true"/>
                            <#input id="lessonBeginTime" name="开课时间" value="${item.lessonBeginTime}" underline="true"/>
                            <#input id="lessonPeriod" name="课时" value="${item.lessonPeriod}" />
                </div>

                <div class="col-sm-6">
                            <#input id="lessonClass" name="教室" value="${item.lessonClass}" underline="true"/>
                            <#input id="teacherInfo" name="老师信息" value="${item.teacherInfo}" underline="true"/>
                    <#select id="preLessonId" name="前置课程" underline="true">
                        <option value="0">无</option>
                        @for(lesson in lessonList){
                            @if(lesson.id == item.preLessonId){
                            <option value="${lesson.id}" selected="selected">${lesson.lessonName}</option>
                            @}else{
                            <option value="${lesson.id}" >${lesson.lessonName}</option>
                            @}
                        @}
                    </#select>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <!--<div class="col-sm-10">-->
                    <!--<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="LessonInfoInfoDlg.editSubmit()"/>-->
                    <!--<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="LessonInfoInfoDlg.close()"/>-->
                <!--</div>-->
                <div class="panel panel-default">
                    <div class="panel-heading">已选学生</div>
                    <div id="selectStudentList" class="panel-body dept-tree">
                        <table>
                            <tr>
                                <th>姓名</th>
                            </tr>
                            @for(item in lessonStudentList){
                            <tr>
                                <td>${item.username}</td>
                            </tr>
                            @}

                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/user/lessonInfo/lessonInfo_info.js"></script>
<script>
    laydate.render({
        elem: '#lessonBeginTime'
    });
</script>
@}
